language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly

sudo: false
dist: precise

before_script:    
    - COMPOSER_MEMORY_LIMIT=-1 composer install

script:
    - vendor/bin/phpunit --coverage-clover coverage.clover --stderr --verbose

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

notifications:
  email: philipp.braeutigam@googlemail.com
